<a href='/clients/new'>Add a New Client</a><br><br>

Click on your client to edit their details:<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><a href="/clients/<%=client["id"]%>/edit"><%= client["name"] %></td>
        <td><%= client["address"] %></td>
        <td><%= client["email"] %></td>

      </tr>
    <% end %>
  </tbody>
</table>
